<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ajax 3 - External API</title>
  <style>
    .user {
      display: flex;
      background: #f4f4f4;
      padding: 5px;
      margin-bottom: 10px;
    }

    .user ul {
      list-style: none;
    }

    .p1 {
      font-family: "Times New Roman", Times, serif;
      color: #7bcab1;
    }
  </style>
</head>

<body>
  <div id="demo"></div>
  <br><br>
  <h1>Guestbook</h1>
  <form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="lname">Comment:</label><br>
    <input type="text" id="comment" name="comment"><br><br>
  </form>
  <button type="button" id="b1">Submit</button>
  <div id="users"></div>
  <script>
    document.getElementById('b1').addEventListener('click', addEntry);
    window.onload = loadEntries();
    // Load Github Users

    function addEntry() {
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function () {
        loadEntries()
        /* current = document.getElementById('users').innerHTML;
        current = '<div class="user">' +
          '<ul>' +
          '<li>' + comment + '</li>' +
          '<hr> ' +
          '<li><div class="p1">' + author + '</div></li>' +
          '</ul>' +
          '</div>' + current;
        document.getElementById('users').innerHTML = current; */
      }
      xhttp.open('POST', '${url}', true);
      author = document.getElementById('name').value;
      comment = document.getElementById('comment').value;
      xhttp.send('{"author":"' + author + '","comment":"' + comment + '"}');

    }

    function loadEntries() {
      var xhr = new XMLHttpRequest();

      xhr.open('GET', '${url}', true);

      xhr.onload = function () {
        if (this.status == 202) {
          var users = JSON.parse(this.responseText);
          var output = '';
          users.forEach(user => {
            var utcSeconds = user['date'];
            var date = new Date(0); // The 0 there is the key, which sets the date to the epoch
            date.setUTCSeconds(utcSeconds);
            date = date.toLocaleDateString() +
              ' ' + date.getHours() +
              ':' + date.getMinutes()
            console.log(utcSeconds);
            output =
              '<div class="user">' +
              '<ul>' +
              user['comment'] + '</li>' +
              '<hr> ' +
              '<li><div class="p1">' + user['author'] + ' | ' + date + '</div></li>' +
              '</ul>' +
              '</div>' + output;
          });

          document.getElementById('users').innerHTML = output;
        }
      }
      xhr.send();
    }
  </script>
</body>

</html>